@import '../colors.scss';

input {
  border: none;
  border-bottom: $font-color solid 2px;
  background: transparent;
  width: 100%;
  padding: 3px;
  &:focus {
    outline: none;
    transform: scale(1.03);
    transition: ease-out 0.1s;
  }
}