@import '../../utils/colors';

.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  justify-content: center;
  align-self: center;
  margin-top: 30vh;

  &__header {
    font-size: 30px;
    font-weight: 700;
  }

  input {
    margin: 10px 20px;
  }

  &__btn {
    border: none;
    background-color: $font-color;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    align-self: flex-end;
    margin-top: 20px;
  }
}