@import '../../utils/colors';

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #FFF;
  width: 100%;
  a {
    text-decoration: none;
  }
  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  &__login {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
  &__logo {
    width: 50px;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}